@font-face {
    font-family: 'Founders Grotesk Medium';
    src: url('https://cdn.shopify.com/s/files/1/0666/6269/4959/files/FoundersGrotesk-Medium.woff2?v=1742847656') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0666/6269/4959/files/FoundersGrotesk-Medium.woff?v=1742847656') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Founders Grotesk Medium Italic';
    src: url('https://cdn.shopify.com/s/files/1/0666/6269/4959/files/FoundersGrotesk-MediumItalic.woff2?v=1742847656') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0666/6269/4959/files/FoundersGrotesk-MediumItalic.woff?v=1742847656') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Founders Grotesk Regular Italic';
    src: url('https://cdn.shopify.com/s/files/1/0666/6269/4959/files/FoundersGrotesk-RegularItalic.woff2?v=1742847656') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0666/6269/4959/files/FoundersGrotesk-RegularItalic.woff?v=1742847656') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk Regluar';
    src: url('https://cdn.shopify.com/s/files/1/0666/6269/4959/files/FoundersGrotesk-Regular.woff2?v=1742847656') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0666/6269/4959/files/FoundersGrotesk-Regular.woff?v=1742847656') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

